* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  
}



.center {
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    min-height: 500px;
    
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.round-button {
    margin-top: 10%;
    border: none;
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 32px 32px;
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100%;
    transition: all 0.5s ease;
    
}

.pulse {
    margin-top: 10%;
    border: none;
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 32px 32px;
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100%;
    animation: pulse 2s infinite;
    transition: all 0.5s ease;
}

.responseTekst{
    margin-top: 10%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-line {
    width: 2rem;
    height: 0.25rem;
    background: #ffffff;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 475px;
    background-color: #000000e6;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Wijzig deze regel */
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 9;
    padding: 20px; /* Voeg deze regel toe om ruimte toe te voegen aan de boven- en onderkant van het menu */
}

.logout {
    z-index: 0;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    
    margin-top: auto; 
}
.menu.open {
    transform: translateX(0);
}

.route-overview {
    
    overflow-y: scroll;
    width: 100vw;

    color: #ffffff;
    padding: 20px;
    background-color: #f9f9f924;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .step-card {
    background-color: #ffffff1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 10px 0;
    padding: 20px;
  }


  .center-text {
    text-align: center;
    gap:10px;
    display: flex;
    justify-content: center;
  }


  .stopButton{
    background-color: #be0606;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
  }

  .time-container {
    display: flex;
   
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;


  }

  .info{
    color: #ffffffbb;
    font-size: 14px;
    font-weight: light;
    text-align: center;
  }